<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style.css" rel="stylesheet">
    <title>Koszyk</title>
</head>
<body>
    <div class="topnav">
        <p>Sklep internetowy</p>
        <% if( user && user.user_type ) {%>
            <a href="/logout">Wyloguj</a>
        <%} else {%>
            <a href="/log_in">Logowanie</a>
        <% } %>
        <a href="/items">Oferta</a>
        <a href="/">Strona główna</a>
    </div>

    <div class="myheader">
        Koszyk
    </div>

    <table class="items" style="margin-top: 1em;">
        <tr>
            <th>Nazwa</th>
            <th>Więcej</th>
            <th>Liczba</th>
            <th>Kwota</th>
        </tr>
        <% items.forEach(r => { %>
            <tr>
                <% var id = r.id; %>
                <td><%= r.product_name %></td>
                <td><a style="color: darkblue;" href="/items/<%=id%>">Opis</a></td>
                <td> <%= r.cnt %> </td>
                <td><%= r.sum %></td>
            </tr>
        <% }) %>
    </table>
    <div class="myheader">
        Podsumowanie
    </div>
    <table class="items" style="margin-top: 1em;">
        <tr>
            <th>Łączna liczba przedmiotów</th>
            <th>Łączna kwota</th>
        </tr>
        <tr>
            <td>
                <%= cnt %>
            </td>
            <td>
                <%= total %>
            </td>
        </tr>
        
    </table>

    <div class="addbutton" style="margin-top: 3em; margin-bottom: 5em;">
        <form action="/submit_order" method="post">
            <button class="addbutton" id="add">Zamów</button>
        </form>
    </div>
    
</body>
</html>