<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Edycja</title>
</head>
<body>
    <div class="topnav">
        <p>Sklep internetowy</p>
        <% if( user && user.user_type ) {%>
            <a href="/logout">Wyloguj</a>
        <%} else {%>
            <a href="/log_in">Logowanie</a>
        <% } %>
        <a href="/items">Oferta</a>
        <a href="/">Strona główna</a>
    </div>

    <div style="column-count: 2; margin-top: 10%;">

        <div class="loginbox">
            <form method="post">
                <label for="product_name">Nazwa</label>
                <input type="text" id="product_name" name="product_name" value="<%= item.product_name %>">
    
                <label for="price">Cena</label>
                <input type="number" id="price" name="price" value="<%= item.price %>">
    
                <label for="description">Opis</label>
                <input type="text" id="description" name="description" value="<%= item.description %>">
    
                <label for="category">Kategoria</label>
                <%- include('select', { name: 'category', id: 'category', category: item.category} ) %>
    
                <% if ( message ) { %>
                    <div class="message">
                        <%= message %>
                    </div>
                <% } %>
    
                <input type="submit" value="Zapisz">
            </form>
        </div>

        <div class="loginbox" style="height: 35em; width: 80%; margin-left: 0;">
            <% if( item.photo ) { %>
                <img src="/<%=item.photo%>" alt="Zdjęcie przedmiotu" style="max-height: 485px; scale: auto; display: block; margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: 115px;">
            <% } else { %>
                <div>
                    <i class="material-icons" style="text-align: center; font-size: 300px; display: block; margin-left: auto; margin-right: auto; margin-top: 100px; margin-bottom: 200px;">add_a_photo</i>
                </div>
            <% } %>
            
            <form action="/upload_photo/<%=item.id%>" method="post" enctype="multipart/form-data" style="margin-left: auto; margin-right: auto; margin-top: 5em; margin-bottom: auto;">
                <input type="file" name='photo' style="font-size: large; text-align: center; margin-left: auto; margin-right: auto;"/>
                <input type="submit" value="Zapisz zdjęcie" style="text-align: center; margin-left: auto; margin-right: auto;"/>
            </form>
        </div>
    </div>

    

</body>
</html>