<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Użytkownicy</title>
</head>

<body>
    <div class="topnav">
        <p>Sklep internetowy</p>
        <% if( user && user.user_type ) {%>
            <a href="/logout">Wyloguj</a>
            <%} else {%>
                <a href="/log_in">Logowanie</a>
                <% } %>
                    <a href="/items">Oferta</a>
                    <a href="/">Strona główna</a>
    </div>

    <form method="post">
        <div class="search-container" style="width: 50%;">
            <input type="text" style="width: 60%;" placeholder="Wyszukaj login lub imię i nazwisko" name="search" value="<%=search %>">
            <select style="float: left; width: 20%; margin-top: 0; padding-bottom: 10pt;" name="usertype" value="<%=usertype %>">
                <% if (!usertype) { %>
                    <option value="" selected>Wszyscy</option>
                    <option value="user">User</option>
                    <option value="admin">Admin</option>
                <% } else if (usertype == 'user') { %>
                    <option value="">Wszyscy</option>
                    <option value="user" selected>User</option>
                    <option value="admin">Admin</option>
                <% } else { %>
                    <option value="">Wszyscy</option>
                    <option value="user">User</option>
                    <option value="admin" selected>Admin</option>
                <% } %>
            </select>
            <button type="submit"><i class="material-icons">search</i></button>
        </div>
    </form>

    <div>
        <table class="items" style="margin-top: 5em;">
            <tr>
                <th>Login</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Typ użytkownika</th>
            </tr>
            <% users.forEach(r=> { %>
                <tr>
                    <td>
                        <%= r.login %>
                    </td>
                    <td>
                        <%= r.user_name %>
                    </td>
                    <td>
                        <%= r.user_surname %>
                    </td>
                    <td>
                        <%= r.user_type %>
                    </td>
                </tr>
                <% }) %>
        </table>
    </div>

</body>

</html>