<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Edycja</title>
</head>
<body>
    <div class="topnav">
        <p>Sklep internetowy</p>
        <% if( user && user.user_type ) {%>
            <a href="/logout">Wyloguj</a>
        <%} else {%>
            <a href="/log_in">Logowanie</a>
        <% } %>
        <a href="/items">Oferta</a>
        <a href="/">Strona główna</a>
    </div>

    <div style="column-count: 2; margin-top: 10%;">

        <div class="loginbox">
            <label for="product_name">Nazwa</label>
            <p id="product_name" name="product_name" class="loginboxtext">
                <%= item.product_name %>
            </p>

            <label for="price">Cena</label>
            <p id="price" name="price" class="loginboxtext">
                <%= item.price %>
            </p>

            <label for="description">Opis</label>
            <p id="description" name="description" class="loginboxtext">
                <%= item.description %>
            </p>

            <label for="category">Kategoria</label>
            <p id="category" name="category" class="loginboxtext">
                <% const dict = {
                    't-shirt': 'Koszulka',
                    'mug': 'Kubek',
                    'sweatshirt': 'Bluza',
                    'other': 'Inne'
                }; %>
                <%= dict[item.category] %>
            </p>

            <% if( user && user.user_type=='user' ) { %>
                <form action="/items/add_to_cart/<%=item.id%>" method="post">
                    <input class="loginbox" type="submit" value="Dodaj do koszyka">
                </form>
            <% } else if( user && user.user_type=='admin' ) { %>
                <form action="/items/change_item/<%=item.id%>" method="post">
                    <input class="loginbox" type="submit" value="Edytuj">
                </form>
            <% } %>
            

        </div>

        <div class="loginbox" style="height: 35em; width: 80%; margin-left: 0;">
            <% if( item.photo ) { %>
                <img src="/<%=item.photo%>" alt="Zdjęcie przedmiotu" style="height: 30em; width: 30em; scale: auto; display: block; margin-left: auto; margin-right: auto; margin-top: 2.5em; margin-bottom: 2.5em;">
            <% } else { %>
                <div>
                    <i class="material-icons" style="text-align: center; font-size: 300px; display: block; margin-left: auto; margin-right: auto; margin-top: 180px; margin-bottom: 200px;">photo</i>
                </div>
            <% } %>
        </div>
    </div>

    

</body>
</html>